header.header
    .container.mx-auto.flex.items-center.justify-between.p-4
        .inner-logo
            a(href="/")
                img(src="/client/images/home.jpeg", alt="Logo" class="w-12 h-12 rounded-full") 
        .inner-menu
            ul.flex.space-x-4
                li
                    a(href="/" class="text-black hover:underline") Trang chủ
                li
                    a(href="/products" class="text-black hover:underline") Sản phẩm
