doctype html
html
    head 
        title #{pageTitle}
        link(href="/admin/css/output.css" rel="stylesheet")
    body
        include ../partials/header.pug

        block main

        include ../partials/footer.pug

        script(src= "/tinymce/tinymce.min.js")
        script(src="/admin/js/tinymce-config.js") 
        script(src="/admin/js/script.js") 


