doctype html
html
    head 
        title #{pageTitle}
        link(href="/admin/css/output.css" rel="stylesheet")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    body
        
        if (roles.permissions.length > 0)
            include ../partials/header.pug

            block main

            include ../partials/footer.pug

            script(src= "/tinymce/tinymce.min.js")
            script(src="/admin/js/tinymce-config.js") 
            script(src="/admin/js/script.js") 
        else
            h1(class="text-center text-4xl mt-20") You don't have permission to access this page
            a(href="/admin/auth/logout" class="block text-center text-2xl mt-4") Logout
        
