extends ../../layouts/default.pug
include ../../mixins/tableCategory.pug

block main
    div(class="flex")
        div(class="menu flex-shrink-0 w-48 p-4 bg-gray-700 h-screen")
            a(href="/admin/dashboard" class="block py-2 text-white") Dashboard
            a(href="/admin/products" class="block py-2 text-white") Product
            a(href="/admin/category" class="block py-2 text-white") Category
        div(class="list-product flex-grow p-4 relative")
            h2(class="title text-2xl font-bold mb-4") Category list

            //- table list category
            table(class="min-w-full table-auto")
                thead
                    tr(class="bg-gray-200 text-left")
                        th(class="p-2 hidden select-column") Select
                        th(class="p-2") ID
                        th(class="p-2") Image
                        th(class="p-2") Name
                        th(class="p-2") Category
                        th(class="p-2 hidden select-column") Position
                        th(class="p-2") Status
                        th(class="p-2") Action
                tbody
                    +tabel-category(newCategories)

            div(class="col-span-2 absolute right-[20px] top-[20px] hover:bg-red-600")
                a(href=`${prefixAdmin}/category/create` class="bg-slate-700 text-white px-4 py-2 rounded") Add category
