extends ../../layouts/default.pug


block main
    div(class="flex")
        div(class="menu flex-shrink-0 w-48 p-4 bg-gray-700 h-screen")
            a(href="/admin/dashboard" class="block py-2 text-white") Dashboard
            a(href="/admin/products" class="block py-2 text-white") Product
            a(href="/admin/category" class="block py-2 text-white") Category
