@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu:hover {
  display: block;
}
