mixin formatDateTime(time)
    p= moment(time).format('DD/MM/YYYY hh:mm:ss')

mixin formatDate(time)
    p= moment(time).format('DD/MM/YYYY')

mixin formatTime(time)
    p= moment(time).format('hh:mm:ss')