extends ../../layouts/default.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug

block main
  +alert-error()
  +alert-success()
  .container.mx-auto.p-4.mb-6
    h2.text-2xl.font-semibold.mb-8.text-center.mt-8 OTP confirm

    form(action="/user/password/otp-password", method="POST", class="bg-white shadow-md rounded w-[600px] mx-auto px-8 pt-8 pb-8 mb-4")
      p.mb-4= `We was sent your email: ${email} to confimation. Please check your email and enter the OTP code in 3 minutes`
      .mb-8
        label(for="otp", class="block text-gray-700 text-bg font-bold mb-2 text-center font-bold") OTP code
        input(type="text", id="otp", name="otp", class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required)

      .flex.items-center.justify-center
        button(type="submit", class="bg-slate-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full") Send OTP
      
      input(type="text" class="hidden" name="email" value=email)
    script(src="/client/js/userAuth.js")
    

