doctype html
html
    head 
        title #{pageTitle}
        link(href="/client/css/output.css" rel="stylesheet")
    body
        include ../partials/header.pug

        block main

        include ../partials/footer.pug

        script(src="/client/js/script.js") 