footer.footer.bg-gray-200.text-center.p-4.bg-gray-700.absolute.bottom-0.w-full
  p.text-gray-600.text-sm.text-white
    | &copy; CN-2024 Công ty của bạn. Bảo lưu mọi quyền.
  p.text-gray-600.text-sm.text-white
    a(href="#" class="hover:underline") Chính sách quyền riêng tư
    |  | 
    a(href="#" class="hover:underline") Điều khoản sử dụng